###
### DATE
###
[kernel]
strict = true
audit = { mode = false, hash = "SHA-256" }
timestamp = { default-time = 00:00:00, timezone = { name = "UTC" } }

[kernel.input]
storage = "fs"

[kernel.input.fs]
dir = "txns"
suffix = "txn"

[transaction]
accounts    = { path = "tz-accounts.toml" }
commodities = { path = "none" }
tags        = { path = "none" }


[report]
report-timezone = "Europe/London"
scale = { min = 2, max = 7 }
accounts = [ ]
targets = [ "balance-group", "register" ]

balance       = { title = "BALANCE" }
balance-group = { title = "BALANCE GROUPS", group-by = "date" }
register      = { title = "REGISTER", timestamp-style = "full" }


[export]
targets = [ ]
equity = { equity-account = "Equity:Balance" }
